<body class="two_player">
  <div class="row">
    <div class="col-md-4">
    <a href="/2_player_deal"><img src="img/buttons/2playerbutton.png" class="two_player"/></a>
    </div>
    <div class="col-md-4">
    <a href="/3_player_deal"><img src="img/buttons/3playerbutton.png"class="three_player" /></a>
    </div>
    <div class="col-md-4">
    <a href="/4_player_deal"><img src="img/buttons/4playerbutton.png"class="four_player" /></a>
    </div>
  </div>
</body>
