<div id="cards">
  <img class="deck" src="img/deck.png" alt="deck" />

  <img src="img/Cards/c_2.png" alt="card1" />
  <img src="img/Cards/c_2.png" alt="card1" />
  <img src="img/Cards/c_2.png" alt="card1" />
</div>
