<div class="row">
  <div class="col-md-12">
    <img class="z-index-1" id="banner" src="img/banner.jpg"/>
    <a class="z-index-2" id="play_now" href="/how_many_players"><img src="img/buttons/playnow1.png"/></a>
  </div>
</div>
