<div class="z-index-1">
  <img src="img/banner.jpg"/>
</div>
<div class="z-index-2">
  <form action="/player_names" method="post">
    <input id="select-players1" src="img/buttons/2playerbutton.png" name="submit" type="image"></input>
  </form>
  <div id="select-players2">
    <img src="img/buttons/3playerbutton.png"/>
  </div>
  <div id="select-players3">
    <img src="img/buttons/4playerbutton.png"/>
  </div>
</div>
