<div class="z-index-1">
  <img src="img/banner.jpg"/>
</div>
<div class="z-index-2">
  <form action="/play_game" method="post">
    <div class="form-group name-form">
      <label for="player1">Player 1 Name</label>
      <input type="text" name="player1">
      <label for="player2">Player 2 Name</label>
      <input type="text" name="player2">
    </div>
    <input id="play_now" src="img/buttons/playnow1.png" name="submit" type="image"></input>
  </form>
</div>
