<div class="row">
  <div class="col-md-12">
    <form action="/text/players" method="post">
      <div class="form-group">
        <label for="player1">Player1 name</label>
        <input type="text" name="player1">
      </div>
      <div class="form-group">
        <label for="player2">Player2 name</label>
        <input type="text" name="player2">
      </div>
      <button type="submit" name="button">submit</button>
    </form>
  </div>
</div>
