<div class="row">
  <div class="col-md-6">
    <% player = Player.find(@round.active_player_id) %>
    <h1>player.name</h1>
    <% cards_in_hand = player.hands.first.cards %>
    <% if cards_in_hand != [] %>
      <% cards_in_hand.each do |card| %>
        <h1><%= card.image_string %></h1>
      <% end %>
    <% end %>

    <form action="/text/fold" method="post">
      <button type="submit">Fold</button>
    </form>
    <form action="/text/call" method="post">
      <button type="submit">Call</button>
    </form>
    <form action="/text/raise" method="post">
      <div class="form-group">
        <label for="raise"></label>
        <input type="text" name="raise">
      </div>
      <button type="submit">Raise</button>
    </form>
    <% binding.pry %>
    <h3>Current bet: $<%= player.hands.first.bet %></h3>
    <h3>Available funds: $<%= player.money %></h3>
  </div>
</div>
