<body class="two">
  <div class="buttons">
  <a href="#"><img src="img/buttons/check.png"  /></a>
  <a href="#"><img src="img/buttons/call.png"  /></a>
  <a href="#"><img src="img/buttons/fold.png"  /></a>
  <a href="#"><img src="img/buttons/raise.png"  /></a>
  </div>

  <div id="cards">
    <a href="#"><img class="deck" src="img/deck.png" alt="deck" /></a>
    <% @card_urls.each do |url| %>
      <img src="img/Cards/<%= url %>.png">
    <% end %>
  </div>
</body>
