
/*play now button centering*/
/*.front img {
position: fixed;
top: 550px;
left: 590px;
}*/

/*background image for the index page*/
.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

#banner {
  position: absolute;
}

#play_now {
  position: absolute;
  top: 480px;
  left: 275px;
}

/*background image for the table*/
.two{
    background-image: url("/img/twoplayer.jpg");
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: top;
    z-index: 2;
}



/*background image for 2players*/
.two_player{
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: top;
}



/*slow transition-- hover over the player button*/
.two_player:hover{
  -webkit-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
  -ms-transition: all 1500ms ease;
  -o-transition: all 1500ms ease;
  transition: all 1500ms ease;
  background-image: url("/img/twoplayer.jpg");
}
.two_player img{
position: fixed;
top: 60%;
padding-left: 100px;
height: 100px;
width: auto;
}

div.buttons{
  position: fixed;
  top: 20%;
  padding-left: 450px;
  height: 100px;
  width: auto;
}



/*card transitions begin on the table*/
@keyframes example {
    0%   {left:600px; top:550px;}
    25%  {left:600px; top:550px;}
}

#cards .card1{
  position: fixed;
     top: 50%;
     left: 50%;
     width: auto;
     height: 110px;
     margin-top: 100px;
     margin-left: 0px;
     -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: -1s;
    animation-name: example;
    animation-duration: 3s;
}

#cards .card2{
  position: fixed;
     top: 50%;
     left: 45%;
     width: auto;
     height: 110px;
     margin-top: 100px;
     margin-left: 0px;
     -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: -1s;
    animation-name: example;
    animation-duration: 3s;
}
#cards .card3{
  position: fixed;
     top: 50%;
     left: 40%;
     width: auto;
     height: 110px;
     margin-top: 100px;
     margin-left: 0px;
     -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: -1s;
    animation-name: example;
    animation-duration: 3s;
}

#cards .deck{
  position: fixed;
     top: 49%;
     left: 33%;
     width: auto;
     height: 140px;
     margin-top: 100px;
     margin-left: 0px;
}

/*end card transitions on table*/
